.hero::before { background-image: url('../travel-guru-resources//Image//Rectangle\ 1.png');
     background-size: cover; 
     content: "";
      display: block; 
      position: absolute;
       top: 0; 
       left: 0;
        width: 100%; 
        height:673px;
         z-index: -2;
    } 

.layer{
    background-color:rgba(0, 0, 0, 0.5); 
    height:673px;
  
}     
